PORT=8085
MODO_LOG=true
ZONA_HORARIA=America/Santiago

# Sitios objetivo
URL_INSTAGRAM=https://www.instagram.com/usuario_o_cuenta/
URL_TIKTOK=https://www.tiktok.com/@usuario_o_cuenta

# Navegador / credenciales
CHROME_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
USER_DATA_DIR=C:\clone

HEADLESS=false
MAX_ITEMS_INSTAGRAM_POSTS=20
MAX_ITEMS_INSTAGRAM_REELS=20
MAX_ITEMS_TIKTOK=5

# TikTok Playwright/CDP
PUERTO_DEBUG_CHROME=9222
ENTORNO=windows
COMANDO_CHROME_WINDOWS_TEMPLATE="{CHROME_PATH}" --remote-debugging-port={PUERTO_DEBUG_CHROME} --user-data-dir="{USER_DATA_DIR}" --new-window "{CLEAN_LINK}"
COMANDO_CHROME_LINUX_TEMPLATE="{CHROME_PATH}" --remote-debugging-port={PUERTO_DEBUG_CHROME} --user-data-dir="{USER_DATA_DIR}" --new-window "{CLEAN_LINK}"

# Flask
URL_SENTIMENTALIZADOR_LOCAL=http://127.0.0.1:5000/predecir
TIMEOUT_SENTIMENTALIZADOR_MS=30000
FLASK_MODO_COMENTARIOS_UNO_A_UNO=false

# BD PostgreSQL
DB_DIALECT=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=sentimentalizador_simple
DB_USER=postgres
DB_PASS=TU_PASSWORD
DB_SSL=false

# Carpetas
DIR_IMAGENES=./imagenes
DIR_TMP=./tmp